/* app/components/Login/login.module.css */

.login__form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.8rem;
  margin-top: 2rem;
}

.login__form .subtitle{
  margin-bottom: 0;
}

.login__title .title {
  color: black;
  font-size: 36px;
  text-align: center;
  font-weight: 900;
}

.login__content__label p {
  margin-bottom: 5px;
}

.login__content__label input {
  width: 100%;
  padding: 8px 12px;
  border: 1px darkgrey solid;
  border-radius: 0.2rem;
  font-size: 16px;
}

.login__button{
  margin-top: 0.8rem;
}

.login__content__label input:focus {
  outline: none;
  border-color: darkblue;
}

.login__content_errorLogin {
  color: red;
  font-size: 14px;
}

.login__content__button_login {
  color: white;
  background-color: blue;
  padding: 16px 28px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.4s;
  margin-top: 1rem;
}

.login__content__button_login:hover {
  background-color: darkblue;
}

.active {
  background-color: darkblue;
}

.createAccountLink a {
  color: darkgrey;
  text-decoration: none;
  transition: color 0.3s ease;
}

.createAccountLink a:hover {
  color: grey;
}