.title {
    color: black;
    font-size: 36px;
    text-align: center;
    font-weight: 900;
}
 .save__button{
     color: white;
     background-color: blue;
     padding: 16px 28px;
     border: none;
     border-radius: 6px;
     font-size: 16px;
     width: 100%;
     cursor: pointer;
     transition: background-color 0.4s;
     margin-top: 1rem;
 }

.save__button:hover {
    background-color: darkblue;
}

.link__login a {
    color: darkgrey;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link__login a:hover {
    color: grey;
}

.subtitle {
    margin-bottom: 0;
    margin-top: 2rem
}

.container {
    margin-bottom: 1.5rem
}