.container {
    margin-top: 2.5rem;
    padding: 1.5rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff; /* Define a cor de fundo branca */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma leve sombra */
    border-radius: 8px; /* Adiciona bordas arredondadas */
  }
  

  .loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }